{% extends "layout.html" %}

{% block contents %}
<div class="llArticlelist">
    {% if context.article_list %}
        {% for article in context.article_list %}
            <div class="well" id="article_{{ article.id }}">
                <h1>
                    <a href="{{ url_for('article_detail', id=article.id) }}">{{ article.title }}</a>
                </h1>
                <h3>{{ article.author }}</h3>
                <h6>{{ article.date_created.strftime('%Y-%m-%d %H:%M:%S') }}</h6>

                <p>
                    {{ article.content|truncate(50)|safe }}
                </p>

                <span class="label label-default">+{{ article.like }} </span>
                &nbsp;
                <a href="{{url_for('article_like', id=article.id)}}">
                    <span class="glyphicon glyphicon-thumbs-up" style="font-size:0.9em"></span>
                </a>
                &nbsp;
                <a href="{{url_for('article_dislike', id=article.id)}}">
                    <span class="glyphicon glyphicon-thumbs-down" style="font-size:0.9em"></span>
                </a>
            </div>
        {% endfor %}
    {% else %}
        <div class="no-list">
            There is no article. Please write a new article.
        </div>
    {% endif %}
</div>
{% endblock %}