{% extends "layout.html" %}

{% block contents %}
<div class="llArticleCreate">
    <form role="form" method="post">
        <div class="form-group">
            <label for="article_create_title">Title</label>
            <input type="text" name="title" class="form-control" id="article_create_title" placeholder="Enter a title.">
        </div>
        <div class="form-group">
            <label for="article_create_author">Author</label>
            <input type="text" name="author" class="form-control" id="article_create_author" placeholder="Enter an author.">            
        </div>
        <div class="form-group">
            <label for="article_create_content">Content</label>
            <textarea name="content" id="article_create_content" class="form-control" placeholder="Enten a content."></textarea>
        </div>
    </form>
</div>
{% endblock %}
