{% extends "layout.html" %}
{% block body %}
  {% if entry %}
    <form action="{{ url_for('apply_edited_entry', key=entry['id']) }}" method="post" class="add-entry">
      <dl>
        <dt>Title:
        <dd><input type="text" size=68 name="title" value="{{ entry['title'] }}">
        <dt>Text:
        <dd><textarea name="contents" rows=5 cols=70>{{ entry['contents'] }}</textarea>
        <dd><input type="submit" value="POST">
        <dd>
      </dl>
    </form>
  {% else %}
    <li> 
      <em>Unbelievable.  No entries here</em>
    </li>
  {% endif %}
  </ul>
{% endblock %}